@import "tailwindcss";

:root {
  --background: var(--color-sand);
  --foreground: var(--color-walnut);
}

@theme {  
  /* Light */
  --color-sand: #F0EAE2 ;
  /* Medium */
  --color-coffee: #937156 ;
  /* Medium Text */
  --color-walnut: #8F6E4F ;
  /* VERY DARK */
  --color-expresso: #341D09 ;
  /* DESATURATED MEDIUM */
  --color-mocha: #604E3C ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@john found out that this is what caused the white text of white background
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
